<app-my-header name="Лабораторна робота №8"></app-my-header>

<ion-content [fullscreen]="true">
  <app-faculty-form
    (facultetAddedEvent)="onFacultetAdded($event)"
  ></app-faculty-form>

  <div *ngIf="facultets && facultets.length > 0" class="facultet-list">
    <h2>Факультети:</h2>
    <div *ngFor="let facultetTest of facultets; let last = last">
      <app-faculty-detail [facultet]="facultetTest"></app-faculty-detail>
      <div *ngIf="!last" class="divider"></div>
    </div>
  </div>
</ion-content>
