<app-my-header name="Лабораторна робота №2"></app-my-header>

<ion-content [fullscreen]="true">
  <ion-card-header>
    Створити додаток для табулювання і виведення на екран значення функції
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-label position="floating">Xn</ion-label>
      <ion-input type="number" [(ngModel)]="xn"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Xk</ion-label>
      <ion-input type="number" [(ngModel)]="xk"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">a</ion-label>
      <ion-input type="number" [(ngModel)]="a"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">h</ion-label>
      <ion-input type="number" [(ngModel)]="h"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="graphras()">Розрахунок</ion-button>
    <canvas #lineCanvas></canvas>
    <ion-item *ngFor="let item of data1">{{item}}</ion-item>
  </ion-card-content>
</ion-content>
